@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: "Roboto",system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    gap: 50px;
    padding: 0 15px;
    margin: 0 auto;
    position: fixed;
    height: 70px;
    background-color: white;
}

.logo-header img{
    width: 20vw;
}

.navigator{
    display: flex;
    gap: 50px;
}

.nav-main > a{
    list-style: none;
    font-weight: 500;
    padding: 10px 0;
}

.nav-main:hover > a{
    color: #E10165;
}

#programas{
    position: relative;
}

#programas:hover .sub-menu{
    opacity: 1;
    visibility: visible;
    transition: all 0.2s ease-out;
}

#programas .sub-menu{
    position: absolute;
    margin-top: 30px;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 200px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease-out;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#programas .sub-menu a{
    padding: 12px 12px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

#programas .sub-menu li span{
    font-weight: 500;
    font-size: 12px;
}

#programas .sub-menu li img{
    width: 25px;
}

#programas .sub-menu li{
    transition: all 0.09s ease-out;
}

#programas .sub-menu li:hover:first-child{
    border-radius: 10px 10px 0px 0px;
    background-color: #848484c3;
}

#programas .sub-menu li:hover:nth-child(2){
    border-radius: 0px;
    background-color: #848484c3;
}

#programas .sub-menu li:hover:nth-child(3){
    border-radius: 0 0 10px 10px;
    background-color: #848484c3;
}

main {
  background: rgb(40, 46, 51);
  background: radial-gradient(
    circle,
    rgba(40, 46, 51, 1) 70%,
    rgba(29, 33, 37, 1) 100%
  );
  height: calc(100vh);
  display: grid;
  place-content: center;
}

.main-content {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.main-content-text {
    display: flex;
    flex-direction: column;
    color: #f0f5f9;
    justify-content: center;
    align-items: center;
}

#text1{
    font-size: 60px;
    font-weight: 800;
}

#text2{
    font-size: 20px;
    font-weight: 500;
}

.main-content-options {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}
.option {
  background: #38414A;
  display: grid;
  align-items: center;
  gap: 20px;
  grid-template-columns: 200px 350px;
  border-radius: 10px;
  cursor: pointer;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: all .1s ease-out;
}
.option img {
  height: 110px;
  border-radius: 10px 0 0 10px;
}
.option span {
  color: #f0f5f9;
  font-size: 40px;
  font-weight: 800;
}

.option:hover{
    filter: brightness(1.2);
    scale: 1.04;
}