@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: 400;
  font-family: "Roboto", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
}

body {
  position: relative;
}

li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  gap: 50px;
  padding: 0 15px;
  margin: 0 auto;
  position: fixed;
  height: 70px;
  background-color: white;
  z-index: 9999;
}

.logo-header img {
  width: 20vw;
}

.navigator {
  display: flex;
  align-items: center;
  gap: 40px;
}

.nav-main > a {
  list-style: none;
  font-weight: 500;
  font-size: 15px;
  padding: 10px 0;
}

.nav-main:hover > a {
  color: #e10165;
}

#programas {
  position: relative;
}

#programas:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  transition: all 0.2s ease-out;
}

#programas .sub-menu {
  position: absolute;
  margin-top: 30px;
  top: 0;
  left: 0;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 200px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease-out;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#programas .sub-menu a {
  padding: 12px 12px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#programas .sub-menu li span {
  font-weight: 500;
  font-size: 12px;
}

#programas .sub-menu li img {
  width: 25px;
}

#programas .sub-menu li {
  transition: all 0.09s ease-out;
}

#programas .sub-menu li:hover:first-child {
  border-radius: 10px 10px 0px 0px;
  background-color: #848484c3;
}

#programas .sub-menu li:hover:nth-child(2) {
  border-radius: 0px;
  background-color: #848484c3;
}

#programas .sub-menu li:hover:nth-child(3) {
  border-radius: 0 0 10px 10px;
  background-color: #848484c3;
}

#btn-entrar {
  background-color: rgb(233, 52, 67);
  border-radius: 10px;
  padding: 0.5em 2em;
  border: 2px solid rgb(233, 52, 67);
  transition: all 0.1s ease-out;
  cursor: pointer;
}

#btn-entrar a {
  color: white;
}

#btn-entrar:hover {
  background-color: white;
  transition: all 0.15s ease-out;
}

#btn-entrar:hover a {
  color: rgb(233, 52, 67);
  transition: all 0.15s ease-out;
}

.pop-up-background {
  position: fixed;
  backdrop-filter: blur(5px);
  background: #948d8dd0;
  z-index: 999999;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pop-up-form {
  position: relative;
  background: #fff;
  width: 800px;
  height: 500px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  animation: popUp .4s ease-out;
}

@keyframes popUp{
  0%{
    transform: translateY(-500px);
  }100%{
    transform: translateY(0);
  }
}

.pop-up-close{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 7;
}


.pop-up-close i{
  color: #353846;
  font-size: 25px;
  font-weight: 900;
}

#img-form{
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 20px;
  width: 400px;
  height: 500px;
  z-index: 5;
}

.pop-up-form-register{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  outline: none;
}

.pop-up-form-register p{
  font-size: 40px;
  font-weight: 900;
}

@keyframes rightToMiddle{
  0%{
    transform: translateX(0);
  }30%{
    opacity: 1;
  }100%{
    transform: translateX(-150px);
    opacity: 0;
  }
}

@keyframes leftToMiddle{
  0%{
    transform: translateX(0);
  }30%{
    opacity: 1;
  }100%{
    transform: translateX(150px);
    opacity: 0;
  }
}

@keyframes middleToLeft{
  0%{
    transform: translateX(150px);
    opacity: 0;
  }30%{
    opacity: 0;
  }100%{
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes middleToRight{
  0%{
    transform: translateX(-150px);
    opacity: 0;
  }30%{
    opacity: 0;
  }100%{
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-right-to-middle {
  animation: rightToMiddle 0.4s ease-out;
}

.animate-left-to-middle {
  animation: leftToMiddle 0.4s ease-out;
}

.animate-middle-to-left {
  animation: middleToLeft 0.4s ease-out;
}

.animate-middle-to-right {
  animation: middleToRight 0.4s ease-out;
}

#btn-register{
  height: 50px;
  width: 300px;
  font-weight: 500;
  background: #f8006f;
  font-size: 16px;
  color: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  transition: all .1s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#btn-register:hover{
  background: #e10165;
  transition: all .1s ease-in-out;
}

.container-register p{
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
}

.container-register a:hover{
  cursor: pointer;
  color: red;
}

.pop-up-form-login{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  outline: none;
  gap: 10px;
}

.input-container{
  display: flex;
  align-items: center;
  gap: 2px;
  position: relative;
  border-radius: 10px;
  padding: 0 10px;
  width: 300px;
  height: 50px;
  outline: none;
  border: 1.5px solid #ecedec;
  position: relative;
  transition: all .1s ease-out;
}

.input-container:focus-within{
  border: 1.5px solid #f8006f;
  box-shadow: #f8006f 0px 0px 5px;
  transition: all .1s ease-out;
}

.input-container input{
  width: 100%;
  padding-left: 10px;
  border: none;
  outline: none;
  font-size: 16px;
}
.pop-up-form-login p{
  font-size: 40px;
  font-weight: 900;
}

.forgot-password-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 300px;
  text-align: end;
  margin-top: -5px;
}

.forgot-password-container a{
  text-align: left;
  cursor: pointer;
  font-size: 12px;
}

.remember-cbx{
  display: flex;
  gap: 5px;
  font-size: 12px;
}

.forgot-password-container a:hover{
  color: red;
}

.label-form{
  width: 300px;
  font-weight: 500;
  text-align: start;
}

#btn-login{
  height: 50px;
  width: 300px;
  font-weight: 500;
  background: #f8006f;
  font-size: 16px;
  color: #fff;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  transition: all .1s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#btn-login:hover{
  background: #e10165;
  transition: all .1s ease-in-out;
}

.container-login p{
  text-align: center;
  margin-top: 10px;
  font-size: 12px;
  font-weight: 400;
}

.container-login a:hover{
  cursor: pointer;
  color: red;
}

.hero-page {
  background: rgb(40, 46, 51);
  background: radial-gradient(
    circle,
    rgba(40, 46, 51, 1) 70%,
    rgba(29, 33, 37, 1) 100%
  );
  padding-top: 70px;
  height: 500px;
}

.hero-page-content {
  max-width: 1480px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 600px;
  align-items: center;
  height: 430px;
  padding: 15px;
  place-content: center;
}

.hero-page-content img {
  margin: 0 auto;
  width: 250px;
  opacity: 0.6;
}

.hero-page-content p {
  margin: 0 auto;
  text-align: center;
  font-size: 45px;
  color: white;
}

#first-text {
  font-size: 70px;
}

.strong {
  font-weight: 700;
}

.color-word {
  color: #f8006f;
}

.options-page {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-content: center;
}
.option {
  text-align: center;
  padding: 2em;
  color: white;
}

.option h2 {
  font-size: 30px;
  max-width: 350px;
  margin: 0 auto;
  font-weight: 300;
}

.option p {
  font-size: 15px;
  max-width: 300px;
  margin: 0 auto;
  font-weight: 400;
}
.option1 {
  background-color: #3d4158;
  transition: all 0.2s ease-out;
}
.option2 {
  background-color: #fbb506;
  transition: all 0.2s ease-out;
}
.option3 {
  background-color: #f8006f;
  transition: all 0.2s ease-out;
}

.option1:hover {
  background-color: #353846;
  transition: all 0.2s ease-out;
}

.option2:hover {
  background-color: #e3a200;
  transition: all 0.2s ease-out;
}

.option3:hover {
  background-color: #e10165;
  transition: all 0.2s ease-out;
}

.gym-info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1300px;
  margin: 0 auto;
  padding: 40px 0;
}

.gym-info-container-text {
  max-width: 500px;
  display: flex;
  text-align: justify;
  flex-direction: column;
  gap: 10px;
}

.gym-info-container-text p {
  font-size: 17px;
}

#gym-info-title {
  font-weight: 900;
  font-size: 35px;
}

#gym-info-title span {
  color: #e10165;
  font-weight: 900;
}

#btn-conocer {
  width: 70%;
  padding: 0.5em 1em;
}

.gym-info-container-video video {
  width: 700px;
  border-radius: 50px;
}

.gym-info-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px 40px 20px;
}

.gym-info-banner-container {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  border: black 2px solid;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

.gym-info-banner-container p:first-child {
  font-size: 35px;
  letter-spacing: 2px;
  font-weight: 800;
}

.gym-info-banner-container p:nth-child(2) {
  max-width: 850px;
  margin: 0 auto;
}

.wsp-fix-logo {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50px;
  z-index: 999;
  width: 60px;
  height: 60px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  animation: wspScale 1s ease-out infinite;
}

.wsp-fix-logo img {
  width: 70px;
  height: 70px;
}

.wsp-fix-logo:hover{
  animation: none;
  scale: 1.1;
}

@keyframes wspScale{
  0%{
    scale: 1;
  }50%{
    scale: 1.1;
  }100%{
    scale: 1;
  }
}